accelerate==1.0.1
aiohappyeyeballs==2.4.4
aiohttp==3.9.3
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
autocommand==2.2.2
axial_positional_embedding==0.3.12
backports.tarfile==1.2.0
backports.zoneinfo==0.2.1
blinker==1.8.2
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.1.8
cmdstanpy==1.2.5
colorama==0.4.6
CoLT5-attention==0.11.1
combo==0.1.3
contourpy==1.1.1
custom-inherit==2.3.2
cycler==0.12.1
Cython==3.2.4
dash==4.1.0
dash-bootstrap-components==1.6.0
dateparser==1.1.8
decorator==5.2.1
dill==0.4.0
einops==0.8.1
filelock==3.16.1
Flask==3.0.3
fonttools==4.57.0
frozendict==1.2
frozenlist==1.4.1
fsspec==2025.3.0
gitdb==4.0.12
GitPython==3.1.50
GPUtil==1.4.0
hf-xet==1.4.3
holidays==0.58
huggingface_hub==0.36.2
idna==3.6
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.6
joblib==1.4.2
jsonpath-ng==1.5.3
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
liac-arff==2.5.0
lightgbm==4.6.0
lightning-utilities==0.11.9
llvmlite==0.38.1
local-attention==1.10.0
MarkupSafe==2.1.5
matplotlib==3.7.5
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.0.5
mypy_extensions==1.1.0
narwhals==1.42.1
nest-asyncio==1.6.0
networkx==3.1
nimfa==1.4.0
numba==0.55.2
numpy==1.21.0
openml==0.11.0
packaging==24.1
pandas==2.0.3
patsy==1.0.2
peft==0.13.2
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plotly==6.7.0
ply==3.11
product_key_memory==0.3.0
propcache==0.2.0
prophet==1.3.0
protobuf==5.29.6
psutil==5.9.8
py4j==0.10.9.9
pyod==1.1.3
pyparsing==3.1.4
pyrsistent==0.18.0
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytypes==1.0b10
pytz==2026.1.post1
PyWavelets==1.4.1
PyYAML==6.0.3
ray==2.10.0
referencing==0.35.1
reformer-pytorch==1.4.4
regex==2024.11.6
requests==2.32.4
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rotary-embedding-torch==0.8.9
rpds-py==0.20.1
safetensors==0.5.3
salesforce-merlion==2.0.4
scikit-learn==1.3.2
scipy==1.10.1
setproctitle==1.2.2
six==1.17.0
smmap==5.0.3
stanio==0.5.1
statsmodels==0.14.1
stumpy==1.4.0
sympy==1.13.3
tamu-d3m==2022.5.23
threadpoolctl==3.5.0
timm==1.0.26
tokenizers==0.20.3
tomli==2.0.1
torch==2.4.1
torchmetrics==1.5.2
torchvision==0.19.1
tqdm==4.67.3
transformers==4.46.3
tslearn==0.6.3
typeguard==4.3.0
typing_extensions==4.12.2
typing-inspect==0.7.1
tzdata==2026.2
tzlocal==5.2
urllib3==2.2.3
webcolors==1.11.1
Werkzeug==3.0.6
xgboost==2.1.4
xmltodict==0.15.0
yarl==1.9.4
zipp==3.19.2
